.card-wrapper {
  width:  340px;
  height: 139px;
  background-color: RGBA(246, 246, 246, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  border: 1px solid RGBA(0, 17, 34, 0.1);
  border-radius: 2px;
}

.card {
  width: 290px;
  height: 109px;
}

.location-name {
  width: 290px;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.778;
 }

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  font-weight: 500;
  font-size:  14px;
  line-height: 1.714;
}

li img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.edit {
  width: 14px;
  height: 14px;
  background-color: RGB(255, 255, 255);
  display: none;
  position: absolute;
  top:  10px;
  right:  10px;
  border-radius: 50%;
  padding:  6px;
}

/*Style for hover*/
.cards:hover {
  background-color: RGB(246, 246, 246);
}

.cards:hover > .edit {
  display: flex;
  justify-content: center;
  align-items:  center;
}
