.modal {
  width: 390px;
  height: 96px;
  margin-bottom: 150px;
  margin-top: 150px;
  margin-left: 500px;
}

.btn-done {
  background-color: RGB(55, 178, 77);
  color: RGB(255, 255, 255);
  width: 64px;
  height: 32px;
  border-radius: 16px;
  border-style: none;
  font-size: 14px;
  font-weight: semibold;
  line-height: 1.714;
  align-item: right;
}
