.modal-background {
  width: 100%;
  height: 100%;
  background-color: RGB(0, 17, 34, 0.6);
  overflow: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position:  fixed;
  left: 0px;
  top: 0px;
}

.modal-wrapper {
  width: 390px;
  height: 300px;
  box-shadow: 0 8px 16px -4px RGBA(0, 17, 34, 0.2);
  background-color: RGB(255, 255, 255);
  position: relative;
  padding: 25px;
}

.location-name-modal {
  width: 290px;
  height: 32px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.location {
  width: 390px;
  margin-top: 31px;
}

.close {
  position: absolute;
  right: 25px;
}

.description h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.714;
}

.description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

.btn-done {
  width: 64px;
  height: 32px;
  background-color: RGB(55, 178, 77);
  color: RGB(255, 255, 255);
  position: absolute;
  right: 25px;
  bottom: 10px;
  border-radius: 16px;
  border-style: none;
  font-size: 14px;
}
